<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
/* Document Structure (for the future)
1. Homepage
2. Search
3. Header
4. Forms
*/
.fullHeight .container {
	padding-top:50%;
	height:342px;
	width:100%;
}

.light {
	background-color:#f7f7f7;
}

.white {
	background-color:#fff;
}

.cd-dropdown,.cd-select {
	position:relative;
	width:175px;
	margin:20px auto;
	display:block;
	float:left;
}

.cd-dropdown > span {
	width:100%;
	height:40px;
	line-height:40px;
	color:#999;
	font-size:16px;
	background:#fff;
	display:block;
	padding:0 50px 0 15px;
	position:relative;
	cursor:pointer;
}

.cd-dropdown > span:after {
	content:'\25BC';
	position:absolute;
	right:0;
	top:15%;
	width:50px;
	text-align:center;
	font-size:12px;
	padding:10px;
	height:70%;
	line-height:12px;
	border-left:1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
	content:'\25B2';
}

.cd-dropdown ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
	position:relative;
}

.cd-dropdown ul li {
	display:block;
}

.cd-dropdown ul li span {
	width:100%;
	background:#fff;
	line-height:40px;
	padding:0 30px 0 15px;
	display:block;
	color:#bcbcbc;
	cursor:pointer;
}

.cd-dropdown > span,.cd-dropdown ul li span {
	-webkit-backface-visibility:hidden;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.cd-dropdown > span span[class^="icon-"],.cd-dropdown > span span[class*=" icon-"] {
	padding:0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
	border:1px solid #ddd;
}

.cd-dropdown > span,.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position:absolute;
	top:0;
	width:100%;
}

.cd-dropdown ul li {
	position:absolute;
	width:100%;
}

.cd-active.cd-dropdown > span {
	color:#17C3B9;
}

.cd-active.cd-dropdown > span,.cd-active.cd-dropdown ul li span {
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
border-left-color: #03cc85;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition:all .2s linear 0;
	-moz-transition:all .2s linear 0;
	-ms-transition:all .2s linear 0;
	-o-transition:all .2s linear 0;
	transition:all .2s linear 0;
}

.cd-active.cd-dropdown ul li span:hover {
	background:#17C3B9;
	color:#fff;
}

.dark .btn {
	color:#17C3B9;
	text-decoration:none;
}

.dark .form-inline .btn-lg {
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"Lato",Helvetica,Arial,sans-serif;
}

html,body {
	height:100%;
}

body {
	font-family:'Lato',sans-serif;
}
.hw-content {
padding: 9.5px;
margin: 0 0 10px;
color: #333;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 4px;
}
#wrapper {
	min-height:100%;
	height:auto!important;
	height:100%;
	margin:0 auto -130px;
}

#push,footer {
	height:145px;
}

#results em {
	font-style:normal;
	font-weight:bolder;
}

.main {
	padding:100px 0;
}

.dark {
	color:#fff;
	background:#17C3B9;
}

.dark a {
	color:#fff;
	text-decoration:underline;
}

.dark a:hover {
	text-decoration:none;
}

.big-icons .fa {
	font-size:50px;
}

table {
	border:0;
	width:100%;
}

#rating {
	min-width:37px;
	display:inline-block;
	text-align:center;
}

header img {
	padding-top:10px;
	height:35px;
	margin-bottom:9px;
}

#results {
	margin-top:10px;
}

#results td {
	padding-bottom:10px;
}

#results td > a {
	text-decoration:none;
	font-family:arial,sans-serif;
	font-size:22px;
}

#results td > p {
	font-family:arial,sans-serif;
	font-size:16px;
}

.donate {
	top:40px;
}

footer a,footer {
	color:#aaa;
}

footer .container:nth-of-type(odd) {
	background-color:#2b2b2b;
	width:100%;
}

footer .container:nth-of-type(even) {
	background-color:#202020;
	width:100%;
	font-size:25px;
}

footer a:hover {
	color:#fff;
}

.search {
	width:60%;
	padding:14px 60px 15px 30px;
	border:none;
	color:#17C3B9;
	font-size:18px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	border-radius:45px;
}

.search-header {
	width:100%;
	padding:1px 60px 1px 13px;
	border:none;
	color:#17C3B9;
	font-size:18px;
	-webkit-border-radius:45px;
	-moz-border-radius:45px;
	-o-border-radius:45px;
	border-radius:45px;
}

input:focus {
	outline:none;
}

.info {
}

.submit {
	background:#17C3B9;
	font-size:16px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	border-radius:100%;
	border:none;
	padding:11px;
	left:10px;
	margin-left:-66px;
	position:relative;
	opacity:.7;
	color:#fff;
}

header .submit {
	left:21px;
}

header .row {
	margin:5px inherit;
}

button {
	outline:none;
}

.btn {
	border:none;
}

.panel-body .btn-default {
	border:1px solid transparent;
	border-radius:4px;
	border-color:#ccc;
}

.fa-heart {
	color:#17C3B9;
}

.dark .form-control {
	border:none;
	color:#17C3B9;
}

.form-control:focus {
	border-color:#17C3B9;
	outline:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

header .navigation ul li a {
	text-decoration:none;
}

header ul {
	position:absolute;
	margin-top:10px;
	text-align:center;
	text-align:right;
	width:100%;
	left:0;
	padding-left:0;
}

header ul li {
	font-size:15px;
	display:inline;
}

header ul li a {
	padding-left:5px;
	padding-right:5px;
}

header ul li a:hover {
	text-decoration:none;
	color:#fff;
	padding-bottom:16px;
	border-bottom-width:4px;
	border-bottom-color:#fff;
	border-bottom-style:solid;
}

header a {
	color:#fff;
}

.navigation {
	height:44px;
}

.table-hover tbody tr:hover {
	cursor:pointer;
}

.row {
	margin-left:0;
	margin-right:0;
}

.no-pointer {
	cursor:default;
}

.contact .col-xs-6 {
	padding-left:0;
	padding-right:0;
}

.container {
	padding:15px inherit;
}

footer .container {
	padding:15px inherit!important;
}

header .container {
	padding:0!important;
}

.landing .container {
	padding:70px inherit;
}

@media screen and (max-width: 768px) {
	.submit {
		font-size:18px;
		left:18px;
		padding:9px;
	}
	
	.search {
		padding:5px 45px 6px 15px;
	}
	
	.status {
		margin-top:75px;
	}
	
	header ul {
		text-align:center;
	}
	
	.form-inline {
		margin-left:10px;
		margin-right:10px;
	}
}

@media screen and (max-width: 991px) {
	.search {
		width:80%;
	}
}

@media screen and (min-width: 767px) {
	.form-inline .form-group {
		margin-top:5px;
	}
	
	.form-inline button {
		margin-top:5px;
	}
}

@media screen and (max-width: 768px),screen and (max-height: 320px) {
	header {
		position:relative;
	}
	
	.status {
		margin-top:0;
	}
}